:root {
  --oxford-blue: #344054;
  --vesper-violet: #98a2b3;
  --sambucus: #101828;
  --white: #ffffff;
  --white-100: #f0f0f0;
  --white-200: #d0d5dd;
  --primary: #1570ef;
  --primary-200: #0152c2;
  --primary-100: #d1e9ff;
  --red: #ef4444;
  --orange: #f97316;
  --yellow: #facc15;
  --green: #22c55e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- Global Css ----- */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-100);
  color: var(--oxford-blue);
}

.container {
  width: 100%;
  max-width: 600px;
  padding-inline: 20px;
  margin-inline: auto;
}

h1 {
  font-size: 34px;
  line-height: 1;
  color: var(--sambucus);
}

section {
  width: 100%;
  padding: 20px;
}

.font-vesper {
  color: var(--vesper-violet);
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.inline-flex {
  display: inline-flex;
}

.align-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

button {
  cursor: pointer;
}

input,
button,
select {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

input:is(:focus, :focus-visible),
select:is(:focus, :focus-visible) {
  outline: none;
  border-color: var(--primary-100);
}

input::placeholder {
  color: var(--vesper-violet);
}

.content-inpute {
  width: 100%;
  display: block;
  padding: 12px 16px;
  margin-top: 12px;
  border: 2px solid var(--white-200);
  border-radius: 8px;
  color: var(--oxford-blue);
  transition: all 0.3s ease-in-out;
}

.content-inpute.error {
  border-color: var(--red);
}

.input-error-message {
  color: var(--red);
  font-size: 14px;
  margin-top: 6px;
}

.btn {
  width: 100%;
  display: block;
  font-weight: 500;
  padding: 16px 24px;
  border-radius: 8px;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.primary-btn {
  background-color: var(--primary);
  color: var(--white);
}

.primary-btn:hover {
  background-color: var(--primary-200);
}

.primary-link {
  color: var(--primary);
  transition: 0.3s ease-in-out;
}

.primary-link:hover {
  color: var(--primary-200);
}
/* ----- End Global Css ----- */

.section-main-wrapper {
  background-color: var(--white);
  padding: 40px;
  border-radius: 20px;
}

.form-description {
  margin-top: 10px;
}

.form-spacing {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sign-in-pass-label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.forgot-password-link {
  font-size: 14px;
}

.sign-in-remember-label {
  max-width: max-content;
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.remember-checkbox {
  width: 16px;
  aspect-ratio: 1;
  cursor: pointer;
}

.role-select {
  width: 100%;
}

.role-select:invalid,
.role-select option {
  color: var(--vesper-violet);
}

.password-rules-block {
  display: none;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 8px;
  border: 2px solid var(--white-200);
  padding: 12px 16px;
}

.password-rules-block.show {
  display: flex;
}

.password-rules-title-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.password-rules-progress-bar {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 8px;
  pointer-events: none;
  /* background: linear-gradient(to right, var(--red), var(--orange), var(--yellow), var(--green)); */
  background-color: var(--white-100);
}

.password-rules-progress-bar::-webkit-slider-thumb {
  width: 14px;
  aspect-ratio: 1;
  -webkit-appearance: none;
  appearance: none;
}

.password-rules-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--vesper-violet);
}

.password-rules-item.complete {
  color: var(--green);
}

.password-rules-icon-group {
  width: 20px;
  aspect-ratio: 1;
  position: relative;
}

.password-rules-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.icon-visibility {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 575px) {
  h1 {
    font-size: 32px;
  }

  .section-main-wrapper {
    padding: 30px;
    border-radius: 12px;
  }
}
